.client
{
  padding: 20px 0;

  &-title
  {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  &-label
  {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &-name,
  &-birthDate,
  &-phone,
  &-email,
  &-comment
  {
    margin-bottom: 10px;
  }

}