.header
{
  margin-bottom: 0.5rem;

  &-title
  {
    font-size: 1.25rem;
    margin-bottom: 1rem;

  }

  .search {
    position: relative;
    padding: $defaultPadding;
    font-size: 1rem;
    border-radius: $defaultBorderRadius;

    &-input
    {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid black;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }

    &-list {
      display: none;
      background-color: $defaultBackgroundColor;
      padding: $defaultPadding;
      border: 1px solid black;
      border-radius: $defaultBorderRadius;
      z-index: 100;
      width: 100%;
      box-sizing: border-box;
      margin: 10px auto;

      &.active {
        display: block;
      }

      &-item {
        cursor: pointer;
        padding: $defaultPadding;
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          background-color: $defaultHoverBackgroundColor;
        }

      }
    }
  }
}

.btn
{
  margin: 5px;
  padding: 10px;
  cursor: pointer;

  &.hidden
  {
    display: none;
  }
}